#app {
display:flex;
justify-content: center;
}


.view {
  max-width:70%;
  min-width:50%;
  padding: 20px;
  flex-wrap: wrap
}

.blockChain{
  display: flex;
  flex-wrap: wrap
}

.addBlock{
  width:100%
}

.blockWrapper {
  margin-bottom: 30px;
  flex: 1 0 50%;
  justify-content: center;
  display: flex;
}

.block {
  width: 100%
}

.card-subtitle{
  font-size:14px;
}

body {
  background-color: lightblue;
}

@media only screen and (min-width: 1024px) {
  .view {
    max-width:60%;
  }
  .blockWrapper {
    flex: 1 0 70%;
  }
}